:root { font-family: monospace; }
html {
  --border-color: lightgray; /* #4f4f4f */
  --text-color: black; /* white */
  --background-color: white; /* black */
  --highlight-color: yellow; /* #673ab7 */
  --margin-size: 15px;

  --sprout: lightgreen;
  --seedling: green;
  --in-bloom: pink;
  --ripe: purple;
  --wilting: "#8d7896";
  --decaying: gray;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

::-webkit-scrollbar {
    display: none;
}

#container {
  width: 500px;
  height: 500px;
  position: fixed;
  padding: var(--margin-size);
  border: 1px solid var(--border-color);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#navigation {
  top: var(--margin-size);
  width: 100px;
  height: 500px;
  position: absolute;
}
#gamecontainer {
  width: 400px;
  height: 500px;
  float: right;
}
#gardenarea { width: inherit; height: 450px; }
#garden { width: inherit; height: 450px; overflow: scroll; margin-right: -50px; padding-right: 50px;}
#plots { width: inherit; display: none; border-bottom: 1px solid var(--border-color); margin-bottom: var(--margin-size); position: relative; }
.o_plots_progress {
  z-index: -10;
  position: absolute;
  height: var(--margin-size);
  margin-bottom: var(--margin-size);
}
.o_plots_progress.sprout { background-color: var(--sprout); }
.o_plots_progress.seedling { background-color: var(--seedling); }
.o_plots_progress.in-bloom { background-color: var(--in-bloom); }
.o_plots_progress.ripe { background-color: var(--ripe); }
.o_plots_progress.wilting { background-color: var(--wilting); }
.o_plots_progress.decaying { background-color: var(--decaying); }

#brewshop { width: inherit; height: 450px; }
#potions {
  width: inherit;
  height: calc(60% - var(--margin-size));
  height: -moz-calc(60% - var(--margin-size));
  height: -webkit-calc(60% - var(--margin-size));
  height: -o-calc(60% - var(--margin-size));
  overflow: scroll;
  margin-right: -50px; padding-right: 50px;
}
#dialogue {
  width: inherit;
  height: 40%;
  margin-bottom: var(--margin-size);
  overflow: scroll;
  margin-right: -50px; padding-right: 50px;
  padding-bottom: var(--margin-size);
}
#dialogue:after {
  content: "";
  background: var(--border-color);
  position: absolute;
  top: 40%;
  left: 114px;
  height: 1px;
  width: inherit;
}

#prompt {
  float: right;
  margin-top: 420px;
  padding-right: var(--margin-size);
}
#command {
  width: inherit;
  height: var(--margin-size);
  padding: 0px;
  margin-top: var(--margin-size);
  border: none;
  border-top: 1px solid var(--border-color);
  padding-top: var(--margin-size);
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
  position: absolute;
}
input:focus { outline: none; }
::selection { background-color: var(--highlight-color); }
::moz-selection { background-color: var(--highlight-color); }
#commandoverlay {
  z-index: -10;
  position: absolute;
  margin-top: calc(var(--margin-size)*2);
  width: 400px;
  height: var(--margin-size);
  color: var(--border-color);
}

.textbutton { margin-bottom: var(--margin-size); height: var(--margin-size); }
.textbutton:hover { cursor: pointer; }

.nobluemobileselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
