:root { font-family: monospace; }
html {
  --border-color: lightgray;
  --text-color: black;
  --background-color: white;
  --highlight-color: yellow;
  --margin-size: 15px;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

::-webkit-scrollbar {
    display: none;
}

#container {
  width: 500px;
  height: 500px;
  position: fixed;
  padding: var(--margin-size);
  border: 1px solid var(--border-color);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#navigation {
  width: 100px;
  height: 500px;
  position: absolute;
}
#gamecontainer {
  width: 400px;
  height: 500px;
  float: right;
  overflow: hidden;
}
#garden { width: inherit; height: 450px; overflow: scroll; margin-right: -50px; padding-right: 50px;}
#brewshop { width: inherit; height: 450px; overflow: hidden; }
#potions {
  width: inherit;
  height: calc(60% - var(--margin-size));
  height: -moz-calc(60% - var(--margin-size));
  height: -webkit-calc(60% - var(--margin-size));
  height: -o-calc(60% - var(--margin-size));
  overflow: scroll;
  margin-right: -50px; padding-right: 50px;
}
#dialogue {
  width: inherit;
  height: 40%;
  margin-bottom: var(--margin-size);
  border-bottom: 1px solid var(--border-color);
  overflow: scroll;
  margin-right: -50px; padding-right: 50px;
}

#prompt {
  float: right;
  margin-top: 420px;
  padding-right: var(--margin-size);
}
#command {
  width: inherit;
  height: var(--margin-size);
  padding: 0px;
  margin-top: var(--margin-size);
  border: none;
  border-top: 1px solid var(--border-color);
  padding-top: var(--margin-size);
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
  position: absolute;
}
input:focus { outline: none; }
::selection { background-color: var(--highlight-color); }
::moz-selection { background-color: var(--highlight-color); }
#commandoverlay {
  z-index: -10;
  position: absolute;
  margin-top: calc(var(--margin-size)*2);
  width: 400px;
  height: var(--margin-size);
  color: var(--border-color);
}

.textbutton { margin-bottom: var(--margin-size); }
.textbutton:hover { cursor: pointer; }

.nobluemobileselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
