:root { font-family: monospace; }

#container {
  width: 500px;
  height: 500px;
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#navigation {
  width: 100px;
  height: 500px;
  position: absolute;
}
#gamecontainer {
  width: 400px;
  height: 500px;
  float: right;
}
#garden { width: 400px; height: 475px; }
#brewshop { width: 400px; height: 485px; }
#potions {
  width: 400px;
  height: 267px;
}
#dialogue {
  width: 400px;
  height: 196px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

#prompt {
  float: right;
  margin-top: 435px;
  padding-right: 10px;
}
#command {
  width: 400px;
  height: 15px;
  padding: 0px;
  border: none;
  font-family: inherit;
  font-size: inherit;
}
input:focus { outline: none; }

.textbutton { margin-bottom: 10px; }
.textbutton:hover { background: yellow; cursor: pointer; }

.nobluemobileselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
